pyyaml
torch
pytorch-ignite
pytorch-lightning
pytorch-nlp
transformers
tensorboardX
tensorflow
spacy
h5py
tokenizers
blis
projects
build
docker
docker-compose
pyzmq
wget
nltk
tqdm
jinja2
sacrebleu
bert-score
cython
build_py
zmq
parlai